<app-title
  title="Pix gerado com sucesso!"
  subtitle="Basta scanear o QR Code ou copiar o código para pagar no seu banco."
></app-title>

<div class="flex flex-col items-center mt-4">
  <img
    [src]="pagamento.qr_code_url"
    alt="QR Code"
    class="w-64 h-64 border p-2 rounded-md"
  />

  <h2 class="text-xl font-bold border-y-gray-600 mt-5 text-primary">
    Valor: R$ {{ pagamento.valor / 100 | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
  </h2>

  <!-- Campo com o QR Code -->
  <div class="w-full mt-4 max-w-xs">
    <label class="block text-gray-700 font-medium text-sm"
    >Pix Copia e Cola</label
    >
    <input
      type="text"
      [value]="pagamento.qr_code"
      readonly
      class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 bg-gray-100 text-gray-700 text-sm truncate"
    />

    <!-- Botão para copiar -->
    <button
      (click)="copyToClipboard(pagamento.qr_code)"
      class="w-full mt-2 bg-primary text-white px-4 py-2 rounded-md hover:bg-primaryContrast hover:text-gray-100 transition text-sm"
    >
      Copiar Código Pix
    </button>

    <!-- Loading (exibido somente se 'isLoading' for true) -->
    <div class="flex items-center justify-center mt-4 space-x-2">
      <div class="spinner"></div>
    </div>
  </div>

  <div class="max-w-md mx-auto p-4 sm:p-6 md:p-8 bg-white shadow-lg rounded-lg">
    <h2 class="text-xl sm:text-2xl font-bold text-center text-gray-800 mb-4">
      Status do pagamento: {{ status }}
    </h2>
    <p class="text-gray-600 text-sm sm:text-base mb-2 text-center">
      O pagamento pode levar até <strong>60 segundos</strong> para ser validado.
    </p>
    <p class="text-gray-600 text-sm sm:text-base mb-2 text-center">
      Para liberar a consulta completa, realize o pagamento.
    </p>
    <p class="text-gray-600 text-sm sm:text-base mb-2 text-center">
      Assim que o pagamento for identificado, você será
      <strong>redirecionado automaticamente</strong> para o resultado completo.
    </p>

    <p class="text-gray-600 text-sm sm:text-base mb-4 text-center" *ngIf="verificarPagamento">
      Caso tenha realizado o pagamento e não tenha sido redirecionado, clique no botão abaixo para verificar o pagamento.
    </p>

    <div class="flex justify-center">
      <button
        *ngIf="verificarPagamento"
        (click)="verificarPagamento()"
        class="w-full sm:w-auto bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-600 transition duration-300 text-sm"
      >
        Verificar Pagamento
      </button>
    </div>
  </div>

</div>
