<div class="bg-white shadow-lg rounded-xl p-6 max-w-3xl mx-auto">
  <!-- Cabeçalho -->
  <div class="bg-primaryContrast text-white font-bold justify-center text-lg text-center flex items-center p-3 rounded-md">
    <span>📄</span>
    <span class="ml-2 text-center">{{ titulo }}</span>
  </div>

  <!-- Grid de Campos Dinâmico -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
    <div *ngFor="let item of dados" class="bg-gray-100 p-3 rounded-md font-semibold">
      {{ item.label }}:
      <span class="text-blue-600">{{ item.valor }}</span>
    </div>
  </div>

  <!-- Botão (Aparece apenas se mostrarBotao for true) -->
  <div class="mt-6" *ngIf="mostrarBotao">
    <button (click)="scrollParaCompra()" class="w-full bg-primaryContrast text-white py-3 rounded-md font-bold flex items-center justify-center gap-2">
      {{ textoBotao }}
    </button>
  </div>
</div>
