<form (ngSubmit)="onSubmit()" [formGroup]="contato" class="max-w-lg mx-auto bg-gray-100 p-6 rounded-2xl shadow-md space-y-4" id="compra">
  <h2 class="text-xl text-gray-600 text-center">Precisamos dos seus dados para processar o pagamento via Pix e liberar o relatório do CPF de forma rápida e segura.</h2>

  <!-- Nome -->
  <div>
    <label class="block text-gray-700">Nome *</label>
    <input type="text" formControlName="nome"
           class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
           [ngClass]="{'border-red-500 border-2': campoInvalido('nome')}"
           placeholder="Digite seu nome">
    <p *ngIf="campoInvalido('nome')" class="text-red-500 text-sm">
      O nome é obrigatório e deve ter pelo menos 3 caracteres.
    </p>
  </div>

  <!-- CPF -->
  <div>
    <label class="block text-gray-700">CPF *</label>
    <input type="text" formControlName="cpf"
           (input)="formatCpf()"
           mask="000.000.000-00"
           class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
           [ngClass]="{'border-red-500 border-2': campoInvalido('cpf')}"
           placeholder="Somente números">
    <p *ngIf="campoInvalido('cpf')" class="text-red-500 text-sm">
      CPF inválido! Digite 11 números sem pontos ou traços.
    </p>
  </div>


  <!-- Email -->
  <div>
    <label class="block text-gray-700">Email *</label>
    <input type="email" formControlName="email"
           class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
           [ngClass]="{'border-red-500 border-2': campoInvalido('email')}"
           placeholder="Ex: exemplo@mail.com">
    <p *ngIf="campoInvalido('email')" class="text-red-500 text-sm">
      Email inválido! Digite um email válido.
    </p>
  </div>

  <!-- Botão de envio -->
  <input type="submit"
         [disabled]="contato.invalid"
         class="w-full bg-primary py-2 rounded-lg hover:bg-primaryContrast text-white transition font-semibold cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed"
         value="Prosseguir para Pagamento">
</form>
