<div class="bg-white shadow-lg rounded-xl p-6 text-center max-w-2xl mx-auto mt-16 mb-5">
  <h2 class="text-xl font-bold text-gray-900 flex items-center justify-center gap-2">
    <span>📢</span> TRANSPARÊNCIA E CONFIABILIDADE
  </h2>
  <p class="text-gray-600 mt-3">
    Este site utiliza dados e informações provenientes de órgãos públicos, garantindo total transparência e confiabilidade.
  </p>

  <p class="mt-4 text-gray-800 font-semibold flex items-center justify-center gap-2">
    📞 Suporte disponível todos os dias, das <span class="font-bold">09h às 18h.</span>
  </p>

  <p class="mt-3 text-gray-800">
    Entre em contato pelo e-mail:
    <a href="mailto:suporte@busquecpf.com.br" class="text-blue-600 font-bold hover:underline">
      suporte&#64;busquecpf.com.br
    </a>
  </p>

  <p class="mt-4 text-sm text-gray-500">
    Caso deseje remover seus dados de nossa base,
    <a href="#" class="text-gray-600 underline">clique aqui.</a>
  </p>

  <p class="mt-4 text-sm text-gray-500">
    <a class="text-gray-600 underline" routerLink="/politicas-de-privacidade">Políticas de Privacidade.</a>
  </p>
</div>
