<app-title title="Veja como é Simples" subtitle="Entenda como usar"/>
<div class="flex md:flex-row flex-col items-center gap-5 mt-5">
  <app-card name="1. Informe o CPF" description="Digite o CPF que deseja realizar a busca de dados." photo="informe"/>
  <app-card name="2. Faça o pagamento via Pix" description="Cobramos uma pequena taxa de R$13,90 para consultar os
dados em todos os locais na internet." photo="pagamento"/>
  <app-card name="3. Acesse o relatório completo" description="A página de compra irá atualizar automaticamente
e o relatório será exibido, enviamos também para o seu e-mail." photo="relatorio"/>
</div>


